<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Built_in_Filters</title>
</head>
<body>
    <center>
        <h1>Built_in_Filters</h1>

        <h4>CLower------>{{data|lower}}</h4>
        <h4>Upper------->{{data|upper}}</h4>
        <h4>Capfirst----->{{data|capfirst}}</h4>
        <h4>title------>{{data|title}}</h4>
        <h4>length------>{{data|length}}</h4>
        <h4>TruncateWords----->{{data|truncatewords:'2'}}</h4>
        <h4>TruncateChars----->{{data|truncatechars:'4'}}</h4>
        <h4>Slice----->{{data|slice:'4'}}</h4>
        <h4>month all chars---('M')-->{{date|date:'M'}}</h4>
        <h4>year four chars('Y')----->{{date|date:'Y'}}</h4>
        <h4>year 2 chrs('y')----->{{date|date:'y'}}</h4>
        <h4>month ---('m')-->{{date|date:'m'}}</h4>
        <h4>Today date--('d')--->{{date|date:'d'}}</h4>
        <h4>Plularize---->these pen{{c|pluralize:'s'}} are mine </h4>

    </center>
    
</body>
</html>